<header>
    <button class="menu-btn">
      <fa-icon class="icons" [icon]="faBar"></fa-icon>
    </button>
    <button class="notifications-btn">
      <fa-icon class="icons" [icon]="faBell"></fa-icon>
    </button>
</header>

<body>
  <h1 class="title">Bradesco</h1>
  <div class="container">
    <div class="login-container">
      <div class="login-header">
        <button class="menu-button">
          <i class="fas fa-bars"></i>
        </button>
        <button class="notification-button">
          <i class="fas fa-bell"></i>
        </button>
      </div>
      <form class="login-form" #loginForm = "ngForm" (ngSubmit) = "onSubmit()">
        <div class="form-group">
          <input type="text" [(ngModel)]="account" name="email" placeholder="Conta">
          <button class="notifications-btn" (click)="clearInput()"><fa-icon [icon]="faSortDown"></fa-icon></button>
        </div>
        <div class="account-form">
          <label>AG 1234</label>
          <label> C/C 12345-6</label>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Acessar conta</button>
        </div>
      </form>
    </div>
  </div>

  <div class="buttons-container">
    <button class="btn btn-white btn-square">Chave de Segurança</button>
    <button class="btn btn-white btn-square">BIA</button>
    <button class="btn btn-white btn-square">SAC Ouvidoria</button>
  </div>

</body>
